<div class="contact-list-search-bar-wrapper">
  <div class="contact-list-search-bar-title">Contact List</div>
  <div class="contact-list-search-box-container">
    <input class=contact-list-search-box" placeholder="Search..." type="text"
           ng-model="searchString"/>
  </div>
</div>
<div class="contact-list-content-container">
  <div class="contact-list-wrapper">
    <div ng-repeat="item in contacts | filter: {name: searchString}">
      <contact-item contact-data="item"></contact-item>
    </div>
  </div>
  <div class="loader-container" ng-if="!isContactsLoaded">
    <div class="loader"></div>
  </div>
</div>
