$contact-item-border-color: #C6BFBA;
$contact-item-name-color: #6D6D6D;
$contact-item-info-color: #A4A4A4;
$contact-item-name-text-size: 18px;
$contact-item-info-text-size: 14px;

.contact-item-wrapper {
  height: 300px;
  width: 240px;
  padding: 16px;
  position: relative;
  border: 2px solid $contact-item-border-color;
  // remove
  margin: 40px;
  color: $contact-item-info-color;

  .contact-item-image {
    height: 210px;
    background-size: cover;
  }

  .contact-item-logo {
    border-radius: 50%;
    position: absolute;
    top: 188px;
    left: 20px;
    width: 70px;
    height: 70px;
  }

  .contact-item-name {
    color: $contact-item-name-color;
    font-size: 20px;
    margin-top: 36px;
  }
  .contact-item-job-title {
    font-size: $contact-item-name-text-size;
  }

  .contact-item-company {
    font-size: $contact-item-info-text-size;
  }
  .contact-item-phone-number {
    display: none;
    font-size: $contact-item-info-text-size;
    margin-top: 20px;
  }
  .contact-item-email {
    display: none;
    font-size: $contact-item-info-text-size;
  }

  &:hover {
    border: 4px solid $contact-item-info-color;
    padding: 12px;

    .contact-item-image {
      height: 134px;

    }
    .contact-item-logo {
      top: 108px;
      left: 16px;
    }
    .contact-item-email {
      display: block;
    }
    .contact-item-phone-number {
      display: block;
    }
  }
}